<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viutravel</title>
</head>
<body>

    <div class="packages">
        <h1>Exclusive packages</h1>
        <div class="topa">
            <h2>Night life activities</h2>
            <img src = '/zacro/zacro/images/fire.jpg' alt='fire' width='300px'>
            <p>Bon fires</p>
            <p>Accommodation</p>

        </div>

        <h1>Day activities</h1>
        <img src = "/zacro/zacro/images/hiking-1.jpg" width="300px">
        <p>Swimming</p>
        <p>Boat rowing</p>
        <p>Fishing</p>
    </div>
    
</body>
</html>